<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark px-0">
    <a class="navbar-brand" routerLink="/">{{ 'header.title' | translate }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"
            >{{ 'header.home' | translate }}
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">{{
            'header.signup' | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">{{
            'header.login' | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deposit">{{
            'header.wallet' | translate
          }}</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ 'header.language' | translate }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              (click)="changeLang('en')"
              style="cursor: pointer;"
            >
              {{ 'header.en' | translate }}</a
            >
            <a
              class="dropdown-item"
              (click)="changeLang('fa')"
              style="cursor: pointer;"
            >
              {{ 'header.fa' | translate }}</a
            >
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control search-inputs mr-sm-2 ml-sm-2"
          type="search"
          placeholder="{{ 'header.search' | translate }}"
          aria-label="Search"
        />
        <!-- <button class="btn btn-light my-2 my-sm-0" type="submit">
          {{ 'header.search' | translate }}
        </button> -->
      </form>
    </div>
  </nav>
</div>
