<div>
  <div class="main-header">
    <app-header></app-header>
    <div class="container mt-5">
      <h2
        class="text-white"
        [class.align-right]="textDir == 'right'"
        style="padding-left: 10px;"
      >
        {{ 'landing.title' | translate }}
      </h2>
      <p
        class="text-lighter text-white"
        [class.align-right]="textDir == 'right'"
        style="padding-left: 10px;"
      >
        {{ 'landing.subtitle' | translate }}
      </p>
      <div class="box">
        <div class="row" style="position: relative;z-index: 100;">
          <h3
            class="text-white col-12 mb-4"
            [class.align-right]="textDir == 'right'"
          >
            {{ 'landing.boxTitle' | translate }}
          </h3>
          <div class="input-group col-12 col-md-5">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{ 'landing.deposit' | translate }}
              </span>
            </div>
            <input type="text" class="form-control h-100" />
            <select class="form-control h-100" id="exampleFormControlSelect1">
              <option>BTC</option>
              <option>ETH</option>
              <option>LTC</option>
              <option>ZT</option>
            </select>
          </div>
          <div class="col-2 m-auto img-change pointer btn_convert text-center">
            <a (click)="changeType()" style="cursor: pointer;">
              <i
                class="fas fa-exchange-alt fa-2x rotate "
                style="color:#10d078;line-height:48px"
                data-v-07d2f135=""
              ></i
            ></a>
          </div>
          <div class="input-group col-12 col-md-5">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{ 'landing.receive' | translate }}
              </span>
            </div>
            <input type="text" class="form-control h-100" />
            <select class="form-control h-100" id="exampleFormControlSelect1">
              <option>BTC</option>
              <option>ETH</option>
              <option>LTC</option>
              <option>ZT</option>
            </select>
          </div>
          <div class="trade-info col-12 my-4">
            <table
              class="table table-trade-info"
              style="height:100%"
              [class.table-right]="textDir == 'right'"
            >
              <tbody>
                <tr>
                  <td>{{ 'landing.rate' | translate }}</td>
                  <td>
                    <span>1.4</span>
                  </td>
                </tr>
                <tr>
                  <td>{{ 'landing.type' | translate }}</td>
                  <td>
                    <span> {{ 'landing.typeValue' | translate }} </span>
                  </td>
                </tr>
                <tr>
                  <td class="uppercase">{{ 'landing.time' | translate }}</td>
                  <td>
                    <span>
                      {{ 'landing.timeValue' | translate }}
                    </span>
                  </td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
          <div class="col-12 my-4">
            <button class="btn btn-success btn-block trade-button">
              {{ 'landing.trade' | translate }}
            </button>
          </div>
        </div>
        <div class="background-login-mask"></div>
      </div>
    </div>
  </div>

  <div id="benefits" class="my-5 ">
    <div class="container">
      <div class="row table-benefits text-center">
        <div class="col-md-4" style="padding:0 60px">
          <h3 class="text-bold">
            {{ 'landing.benefits.fair.title' | translate }}
          </h3>
          <div class="benif1-img"></div>
          <p>
            {{ 'landing.benefits.fair.text' | translate }}
          </p>
        </div>
        <div class="col-md-4" style="padding:0 60px">
          <h3 class="text-bold">
            {{ 'landing.benefits.fast.title' | translate }}
          </h3>
          <div class="benif2-img"></div>
          <p>
            {{ 'landing.benefits.fast.text' | translate }}
          </p>
        </div>
        <div class="col-md-4" style="padding:0 60px">
          <h3 class="text-bold">
            {{ 'landing.benefits.safe.title' | translate }}
          </h3>
          <div class="benif3-img"></div>
          <p>
            {{ 'landing.benefits.safe.text' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container" style="padding: 30px 0 0;">
      <div class="row">
        <div class="d-none d-md-block col-6">
          <img
            src="../../assets/img/iphonex.png"
            style="width: 100%;"
            alt="Index wallet iphonex"
          />
        </div>
        <div
          class="col-12 col-md-6 wallet_section d-flex justify-content-center align-items-center flex-column"
        >
          <h1 class="my-4 text-center" data-i18n="APP">
            {{ 'landing.wallet.title' | translate }}
          </h1>
          <h4
            class="d-none d-md-block my-4 pb-3 text-center"
            data-i18n="THE_ONLY_PLACE_TO_BUY_CRYPTO_AT_TRUE_COST"
          >
            {{ 'landing.wallet.text' | translate }}
          </h4>
          <h5 class="d-block d-md-none my-4 text-center">
            Buy 45+ Coins at True Cost<br />No fees, No markups
          </h5>
          <a class="text-decoration-none" href="#" dideo-checked="true">
            <h5 class="mt-3 text-center font-blue index_explore">
              {{ 'landing.wallet.link' | translate }}
            </h5>
          </a>
          <div class="mx-3 pt-5 d-block d-md-none text-center">
            <img
              src="../../assets/img/iphonex.png"
              style="width: 310px; margin: 0 auto;"
              alt="Index wallet iphonex"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <hr class="hr-footer" />
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div style="margin-top:20px">
              <a
                href="#"
                target="_blank"
                class="link-footer-social"
                style="margin:0 5px 0 0"
                dideo-checked="true"
              >
                <span class="fab fa-telegram"> </span>
              </a>
              <a
                href="#"
                target="_blank"
                class="link-footer-social"
                style="margin:0 5px 0 0"
                dideo-checked="true"
              >
                <span class="fab fa-instagram"> </span>
              </a>
            </div>
            <div>
              <p style="margin-top:20px;font-size:12px">© 2019 crenzy</p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <p>Support</p>
            <ul class="nav ul-footer">
              <li class="text-bold mt-1">
                <span>Support phone: </span>
                <span dir="ltr">05137669297 </span>
              </li>
              <li class="text-bold mt-1">
                <span>
                  Support number
                </span>
                <span dir="ltr">05137669298</span>
              </li>
              <li class="text-bold mt-1">
                <span>Phone number : </span>
                <span>09015373247</span>
              </li>
              <li class="text-bold mt-1">
                <span>Support time: </span>
                <span>
                  9 A.M to 5 P.M
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
