<div>
  <div class="main-header">
    <app-header></app-header>
    <div class="container mt-5 text-center">
      <div class="box col-11 col-md-5 m-auto">
        <div
          class="row p-2 d-flex justify-content-center align-items-center"
          style="position: relative;z-index: 100;"
        >
          <h2 class="text-white col-12 mb-4">
            {{ 'login.title' | translate }}
          </h2>

          <form class="p-2 w-100" [formGroup]="form">
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ 'login.username' | translate }}*"
                class="form-control register-inputs"
                formControlName="username"
              />
              <span
                *ngIf="
                  (formSubmitted &&
                    form.get('username').hasError('required')) ||
                  (form.get('username').touched &&
                    form.get('username').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'login.validations.username' | translate
                }}</small>
              </span>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control register-inputs"
                id="exampleInputPassword1"
                placeholder="{{ 'login.password' | translate }}*"
                formControlName="password"
              />
              <span
                *ngIf="
                  (formSubmitted &&
                    form.get('password').hasError('required')) ||
                  (form.get('password').touched &&
                    form.get('password').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'login.validations.password' | translate
                }}</small>
              </span>
            </div>
            <button
              type="submit"
              class="btn btn-block btn-primary"
              (click)="login()"
            >
              {{ 'login.submit' | translate }}
            </button>
          </form>
        </div>
        <div class="background-login-mask"></div>
      </div>
    </div>
  </div>
</div>
