<div>
  <div class="main-header">
    <app-header></app-header>

    <div class="container mt-5 text-center">
      <div class="box col-11 col-md-5 m-auto">
        <div
          class="row p-2 d-flex justify-content-center align-items-center"
          style="position: relative;z-index: 100;"
        >
          <h2 class="text-white col-12 mb-4">
            {{ 'register.title' | translate }}
          </h2>
          <form class="p-2 w-100" [formGroup]="form" *ngIf="!registerDone">
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ 'register.email' | translate }}*"
                class="form-control register-inputs"
                formControlName="email"
              />
              <span
                *ngIf="
                  (formSubmitted && form.get('email').hasError('required')) ||
                  (form.get('email').touched &&
                    form.get('email').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'register.validations.email' | translate
                }}</small>
              </span>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ 'register.firstName' | translate }}*"
                class="form-control register-inputs"
                formControlName="firstName"
              />
              <span
                *ngIf="
                  (formSubmitted &&
                    form.get('firstName').hasError('required')) ||
                  (form.get('firstName').touched &&
                    form.get('firstName').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'register.validations.firstName' | translate
                }}</small>
              </span>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ 'register.lastName' | translate }}*"
                class="form-control register-inputs"
                formControlName="lastName"
              />
              <span
                *ngIf="
                  (formSubmitted &&
                    form.get('lastName').hasError('required')) ||
                  (form.get('lastName').touched &&
                    form.get('lastName').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'register.validations.lastName' | translate
                }}</small>
              </span>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ 'register.username' | translate }}*"
                class="form-control register-inputs"
                formControlName="login"
              />
              <span
                *ngIf="
                  (formSubmitted && form.get('login').hasError('required')) ||
                  (form.get('login').touched &&
                    form.get('login').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'register.validations.username' | translate
                }}</small>
              </span>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control register-inputs"
                id="exampleInputPassword1"
                placeholder="{{ 'register.password' | translate }}*"
                formControlName="password"
              />
              <span
                *ngIf="
                  (formSubmitted &&
                    form.get('password').hasError('required')) ||
                  (form.get('password').touched &&
                    form.get('password').hasError('required'))
                "
              >
                <small class="form-text text-danger">{{
                  'register.validations.password' | translate
                }}</small>
              </span>
            </div>
            <button
              type="submit"
              class="btn btn-block btn-primary"
              (click)="register()"
            >
              {{ 'register.submit' | translate }}
            </button>
          </form>
          <div *ngIf="registerDone">
            <p class="text-white">
              {{ 'register.success' | translate }}
            </p>
            <button class="btn btn-info">
              {{ 'register.login' | translate }}
            </button>
          </div>
        </div>
        <div class="background-login-mask"></div>
      </div>
    </div>
  </div>
</div>
